.name-area {
  padding: 40px;
  line-height: 200%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.margin-right-10 {
  margin-right: 10px;
}

.spinner-area {
  padding-left: 90px;
}

.click {
  cursor: pointer;
}